*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../Multimedia/Personajes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#title{
    color: #FFF;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5%;
}


#back{
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3%;
    margin-right: 5%;
}

a{
    color: #FFF;
    text-decoration-line: none;
}

#list{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
}
#columnas{
    margin-left: 5%;
    display: flex;
    flex-direction:row;
    gap: 20%;
}